<li class="list-group-item alert alert-success" role="alert">
  <p><%= notification.user.full_name %> accepted your friend request!</p>
  <p><small><%= time_ago_in_words(notification.created_at) %> ago</small></p>
</li>