<li class="list-group-item alert alert-danger" role="alert">
  <p><%= notification.user.full_name %> <%= notification.action %> you!</p>
  <p><small><%= time_ago_in_words(notification.created_at) %> ago</small></p>
</li>