<div class="post-content">
    <div class="card-block">
      <div class="float-left"><a href="#">
        <img class="media-object rounded-circle" src="https://diaspote.org/uploads/images/thumb_large_283df6397c4db3fe0344.png" width="35px" height="35px" style="margin-right: 8px; margin-top: -5px;"/>
      </a>
      </div>
      <h4><a href="#" style="text-decoration: none;"><strong><%= comment.user.full_name %></strong></a></h4>
      <hr/>
      <div class="post-content">
        <%= comment.body %>
        <small>
          <small>
            <a href="#" style="text-decoration: none;"><i><i class="fa fa-clock-o" aria-hidden="true"></i> 12
              minutes ago</i></a></small>
        </small>
      </div>
      <%= render comment.comments %>
    </div>
</div>