<div class="cover-container">
  <div class="inner cover">
    <h1 class="cover-heading">Welcome to BLOGGY!</h1>
    <p class="lead">
      <%= link_to "Sign up", new_registration_path(resource_name), class: "btn btn-lg btn-secondary" %>
    </p>
  </div>
</div>